.intro-container {
    display: flex;
    flex-flow: row wrap;
    max-width: 500px;
    & > * {
        flex: 1 100%;
    }
    .content {
        padding: 20px;
        p {
            text-align: center;
        }
    }
}