<div class="personal-form-container">
  <form [formGroup]="personalInformationsForm" (ngSubmit)="onSubmit()">
    <div class="form-container">
      <div class="group">
        <input type="text" formControlName="firstName" required="required">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>First Name </label>
        <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="alert alert-danger">
          <span *ngIf="firstName?.errors?.required">
            First Name is required.
          </span>
        </div>
      </div>

      <div class="group">
        <input id="last-name" type="text" formControlName="lastName" required="required">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="last-name">Last Name </label>
        <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="alert alert-danger">
          <span *ngIf="lastName?.errors?.required">
            Last Name is required.
          </span>
        </div>
      </div>

      <div class="group">
        <input id="user-name" type="text" formControlName="userName" required="required">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="user-name">Github User Name </label>
        <div *ngIf="userName?.invalid && (userName?.dirty || userName?.touched)" class="alert alert-danger">
          <span *ngIf="userName?.errors?.required">
            User Name is required.
          </span>
        </div>
      </div>

    </div>
  </form>  
    <app-steps-footer [isFirstStep]="false" [isLastStep]="false" [isStepComplete]="personalInformationsForm.valid"
      (onNextStep)="onSubmit()" (onPreviousStep)="goBack()"></app-steps-footer>
</div>
