<div class="consent-form-container">
    <form  [formGroup]="consentForm" (ngSubmit)="onSubmit()">
        <div class="form-container">
            <div class="group">
                <input id="user-name" type="text" formControlName="email" required="required">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label for="user-name">Email </label>
                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert-danger">
                    <span *ngIf="email?.errors?.required">
                        email is required.
                    </span>
                    <span *ngIf="email?.errors?.email">
                        email is not valid.
                    </span>
                </div>
              </div>
              <div class=" group-form-checkbox">
                  <span class="checkbox-input">
                    <input id="consent" type="checkbox" formControlName="consent" required>
                    <label for="consent">Agree with terms and services</label>
                </span>
                <div *ngIf="consent?.invalid && (consent?.dirty || consent?.touched)" class="alert-danger">
                    <span *ngIf="consent?.errors?.required">
                        Your consent is required.
                    </span>
                </div>
              </div>  
        </div>
        
        </form>
        <app-steps-footer [isFirstStep]="false" [isLastStep]="true" [isStepComplete]="consentForm.valid" (onNextStep)="onSubmit()" (onPreviousStep)="goBack()"></app-steps-footer>
</div>
