.consent-form-container {
    width: 100%;
    .form-container {
        width: 320px;
        margin: 45px auto;
    }
    .group-form-checkbox {
        display: flex;
        flex-direction: column;
        span {
            display: flex;
            input {
                height: 20px;
                width: 20px;
            }
            label {
                position: unset;
                font-size: 14px;
                padding: 2px 10px;
                color: black;
            }
        }
    }
}